@model BudgetKeeper.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<link href="~/Content/Account/login.css" rel="stylesheet"/>

<div id="form">
	<h2>Login</h2>
	<div class="login-row">		
		@Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "login-input" })
	</div>
	<div class="login-row">
		@Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "login-input" })
	</div>
	<div id="submit">Login</div>
</div>

<script src="~/Scripts/Account/login.js"></script>