html {
	min-width: 100%;
	min-height: 100%;
}

body{
	height: 100%;
	width: 100%;
}


/*--- Page Content ---*/
.main {
	width: 100%;
}
/*--- End Page Content ---*/
.index-header {
	width: 100%;
	text-align: center;
	margin: 20px auto;
	font-size: 20pt;
}
/*--- Index ---*/

/*--- End Index ---*/